<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="submenu.css">
    <title>POS System</title>
</head>
<body>
    
    <%- include('navbar') %> 
    
    <h1>Ong n Prends</h1>
    <h2>POS System</h2>

    <img src="/boss Malcolm.jpg">

</body>
</html>
